---
import { Image } from 'astro:assets'
import NewsletterForm from '../components/NewsletterForm.astro'
import NewsletterLayout from '../layouts/NewsletterLayout.astro'
// import { createContact } from '../lib/brevo'
import image from '@/assets/images/7-errores-que-cometen-los-programadores-Junior.png'
import myImage from '@/assets/images/josecastellano.jpg'
import CheckList from '@/components/CheckList.astro'

// const LEAD_MAGNET_LIST_ID = 8
const NEWSLETTER_LIST_ID = 9

// const EXPIRED_DATE = new Date(2024, 6, 8, 0)
// const now = new Date()

// const isExpired = now > EXPIRED_DATE
const isExpired = true

const title = 'Suscríbete a la Newsletter de Jose Castellano'
const descripton =
  'En la Newsletter de Jose Castellano recibirás información del sector de la programación y de cómo ganar dinero gracias a ella'
const checkPoints = [
  '¿Cuáles son los <strong>7 errores</strong> que comete el 91% de los programadores <strong>Junior</strong>?',
  '¿Por qué estos errores son tan <strong>problemáticos</strong>?',
  '¿Por qué te están <strong>impidiendo avanzar</strong> como programador?',
  '¿Cómo <strong>evitarlos</strong> y estar más cerca de convertirte en <strong>Senior</strong>?',
]
---

<NewsletterLayout title={title} description={descripton}>
  {
    isExpired && (
      <>
        <div id='expired'>
          <h2>
            Lo siento, pero se te ha acabado el tiempo para recibir el regalo.
          </h2>
          <p>
            Ya no puedes acceder a este regalo. Aún así puedes apuntarte a la
            newsletter y recibir otros regalos, todos los beneficios y todo el valor que aporto en
            ella.
          </p>
        </div>
        <div id='margin' />
      </>
    )
  }
  <div id='content'>
    <section id='titles'>
      <h1>
        Recibe <strong>consejos</strong> y mis <strong>aprendizajes</strong> en el
        mundo de la <strong>programación</strong> y de cómo <strong
          >ganar dinero</strong
        > gracias a ella
      </h1>
      <h2>
        En este newsletter <strong>aprenderás</strong> lo que yo he aprendido de
        programación <strong>a lo largo de 4 años</strong> y lo que aprendo <strong
          >cada día</strong
        >. Tanto <strong>trucos de programación</strong> como a cómo <strong
          >monetizarla</strong
        >.
      </h2>
    </section>

    <section id='lead-magnet'>
      <div id='lead-magnet-params'>
        <p>
          Si eres <strong>Junior</strong> seguro que estás cometiendo alguno o, seguramente,
          varios de estos <strong>7 errores tan comunes</strong>, y que tantos
          dolores de cabeza traen, en el mundo de la <strong
            >programación</strong
          >.
        </p>

        <p>
          Para <strong>dejar de cometerlos</strong>, que tu código sea mucho más
          <strong>entendible</strong>, <strong>bonito</strong>, <strong
            >limpio</strong
          > y <strong>fácil de mantener</strong>. Descarga este PDF para estar
          más cerca de ser <strong>Senior</strong>.
        </p>
      </div>

      <Image
        class='image'
        src={image}
        alt='7 errores que cometen los Programadores Junior'
        width='300'
        height='300'
      />
    </section>

    <NewsletterForm
      listId={NEWSLETTER_LIST_ID}
      CTA='Descargar'
    />

    <section>
      <h2 class='subtitle'>Esto es lo que aprenderás en él:</h2>
      <div id='check-list'>
        <CheckList items={checkPoints} />
      </div>
    </section>

    <section id='about-me'>
      <h2 class='subtitle'>¿Quién soy yo?</h2>
      <div id='about-me-content'>
        <Image
          class='image'
          id='avatar'
          src={myImage}
          alt='Imagen de Jose Castellano'
          width='300'
          height='300'
        />
        <div>
          <p>
            Soy <strong>Jose Castellano</strong>, Ingeniero en Telemática y
            <strong>Full-Stack Developer</strong> desde hace unos 4 años.
          </p>
          <p>
            El 5 de febrero de 2024 empecé a crear contenido en <strong
              >LinkedIn</strong
            >. Estaba aterrado, pero tiré para adelante con todo lo que tenía.
          </p>
          <p>
            Esto me ha permitido crear una <strong
              >audiencia de +4.700 personas</strong
            >. Y ayudar a muchos programadores con ello.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2 class='subtitle'>
        {isExpired
          ? 'Apúntate a la newsletter'
          : 'Accede al contenido'}
      </h2>
      <NewsletterForm
        listId={NEWSLETTER_LIST_ID}
        CTA='Descargar'
      />
    </section>
  </div>
</NewsletterLayout>

<style>
  #content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  #titles {
    max-width: 90%;
  }

  h1,
  h2 {
    text-wrap: balance;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4rem;
  }

  p {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-wrap: pretty;
  }

  h2,
  p {
    letter-spacing: 0.5px;
  }

  #lead-magnet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #lead-magnet-params {
    max-width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
  }

  #check-list {
    font-size: 1.1rem;
    line-height: 24px;
  }

  .image {
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.25);
  }

  #about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #about-me-content div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #avatar {
    border-radius: 100%;
  }

  section:last-child {
    margin-bottom: 4rem;
  }

  #expired {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: var(--primary-300);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }

  #margin {
    height: 8rem;
  }

  @media (width > 480) {
    #margin {
      height: 4rem;
    }
  }

  @media (width > 768px) {
    h1 {
      font-size: 2.5rem;
    }

    #lead-magnet {
      flex-direction: row;
    }

    #about-me-content {
      flex-direction: row;
    }

    #margin {
      height: 2rem;
    }
  }
</style>
