---
import { createContact, ListId } from "@/lib/brevo"
import { Image } from 'astro:assets'
import NewsletterForm from '../components/NewsletterForm.astro'
import myImage from '@/assets/images/josecastellano.jpg'
import Layout from "@/layouts/Layout.astro"

export const prerender = false

const title = 'Suscríbete a la Newsletter de Jose Castellano'
const description = 'Esta es la Newsletter de Jose Castellano, en la que recibirás mis experiencias y consejos en el mundo de la programación.'

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData()
  const email = formData.get('email')?.toString()
  const listId = formData.get('listId')?.toString()

  if (!email) {
    return new Response('Email is required', { status: 400 })
  }

  if (!listId) {
    return new Response('List ID is required', { status: 400 })
  }

  try {
    await createContact(email, parseInt(listId))
  } catch (error) {
    console.error(error)
    return new Response('Failed to create contact', { status: 500 })
  }

  return Astro.redirect('/confirma-tu-suscripcion')
}
---

<Layout title={title} description={description}>
  <div id='content'>
    <section id='titles'>
      <h1>
        Recibe <strong>consejos</strong> y mis <strong>aprendizajes</strong> en el
        mundo de la <strong>programación</strong> y de cómo <strong
          >ganar dinero</strong
        > gracias a ella
      </h1>
      <h2>
        En este newsletter <strong>aprenderás</strong> lo que yo he aprendido de
        programación <strong>a lo largo de 4 años</strong> y lo que aprendo <strong
          >cada día</strong
        >. Tanto <strong>trucos de programación</strong> como a cómo <strong
          >monetizarla</strong
        >.
      </h2>
    </section>

    <NewsletterForm listId={ListId.WELCOME} />

    <section id='about-me'>
      <h2 class='subtitle'>¿Quién soy yo?</h2>
      <div id='about-me-content'>
        <Image
          class='image'
          id='avatar'
          src={myImage}
          alt='Imagen de Jose Castellano'
          width='300'
          height='300'
        />
        <div>
          <p>
            Soy <strong>Jose Castellano</strong>, Ingeniero en Telemática y
            <strong>Full-Stack Developer</strong> desde hace unos 4 años.
          </p>
          <p>
            El 5 de febrero de 2024 empecé a crear contenido en <strong
              >LinkedIn</strong
            >. Estaba aterrado, pero tiré para adelante con todo lo que tenía.
          </p>
          <p>
            Esto me ha permitido crear una <strong
              >audiencia de +5.300 personas</strong
            >. Y ayudar a muchos programadores con ello.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2 class='subtitle'>
        Apúntate a la newsletter
      </h2>
      <NewsletterForm listId={ListId.WELCOME} />
    </section>
  </div>
</Layout>

<style>
  #content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  #titles {
    max-width: 90%;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.4rem;
  }

  h1,
  h2 {
    text-wrap: balance;
  }

  p {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-wrap: pretty;
  }

  h2,
  p {
    letter-spacing: 0.5px;
  }

  strong {
    color: var(--primary-100);
  }

  #lead-magnet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #lead-magnet-params {
    max-width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subtitle {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
  }

  #check-list {
    font-size: 1.1rem;
    line-height: 24px;
  }

  .image {
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.25);
  }

  #about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #about-me-content div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  #avatar {
    border-radius: 100%;
  }

  section:last-child {
    margin-bottom: 4rem;
  }

  #expired {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: var(--primary-300);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  }

  #margin {
    height: 8rem;
  }

  @media (width > 480) {
    #margin {
      height: 4rem;
    }
  }

  @media (width > 768px) {
    h1 {
      font-size: 2.5rem;
    }

    #lead-magnet {
      flex-direction: row;
    }

    #about-me-content {
      flex-direction: row;
    }

    #margin {
      height: 2rem;
    }
  }
</style>
